{% extends "__base.html" %}
{% load django_tables2 %}
{% load static %}

{% block extrahead %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">

        <h1>Multiple tables on a single page using MultiTableMixin</h1>

        <p>
            Pagination should work independently for each table,
            the second table excludes the column 'country'.
        </p>
        <div class="row">
            {% for table in tables %}
                <div class="col-lg-12">{% render_table table %}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}